<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-alljoyn-tests"
    version="0.0.5">
    <name>AllJoyn Tests</name>

    <js-module src="tests.js" name="tests" />

    <js-module src="registration.js" name="registration" />
    <js-module src="connection.js" name="connection" />
    <js-module src="methods.js" name="methods" />
</plugin>
